server:
    port: 80

spring:
    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true

    datasource:
        url: jdbc:mysql://{dbhost}:{dbport}/{dbname}
        username: {dbusername}
        password: {dbpassword}
app:
    version: @project.version@
    build:
        time: @timestamp@