server:
    port: 80

logging:
  level:
    org.springframework.web: DEBUG
    
spring:
    jpa:
        hibernate:
            ddl-auto: create-drop
        show-sql: true

    datasource:
        url: jdbc:mysql://{dbhost}:{dbport}/{dbname}
        username: {dbusername}
        password: {dbpassword}
app:
    version: @project.version@
    build:
        time: @timestamp@